*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Young Serif', serif;
}

.container{
    padding: 10px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 100px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 40px;
    margin-top: 10px;
    
    
}
.section-one__home{
    background-color: red;
    color:white;
    font-size: 20px;
    margin-inline-start: 100px;
    
}
.section-three{
    background-color: black;
    color: aliceblue;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}
.section-two__submit{
    background-color: red;
    color: white;
    margin-inline-start: 100px;
    font-size: 20px;
    margin-top: 15px;
    
}
.section-two__form{
    
   
    color:black
}
.section-two{
    margin-top: 50px;
    font-size: larger;
    margin-top: 15px;
}
